[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ipdb = "*"
tqdm = "*"
"flake8-config-yoctol" = "*"


[packages]

numpy = "*"
scipy = "*"
scikit-learn = "*"
tensorflow-gpu = "*"
pillow = "*"
pandas = "*"


[requires]

python_version = "3.6"
